<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Wi-Fi Manager</h1>
    <p>Current Network: {{ connected_ssid }}</p>
    <p>IP Address: {{ ip_address }}</p>
    <p>Ethernet IP: {{ ethernet_ip }}</p>
    <h2>Available Networks</h2>
    <ul>
        {% for network in networks %}
            <li>
                {{ network.ssid }} - {{ network.security }}
                <button onclick="connectToNetwork('{{ network.ssid }}')">Connect</button>
            </li>
        {% endfor %}
    </ul>

    <!-- Nouveau bouton pour se déconnecter -->
    <button onclick="disconnectWifi()">Se déconnecter</button>

    <!-- Nouvelle section pour les réseaux connus -->
    <h2>Réseaux connus</h2>
    <ul id="known_networks_list"></ul>

    <button onclick="activateAp()">Activate AP</button>
    <button onclick="deactivateAp()">Deactivate AP</button>
    <button onclick="toggleWiFi()">Toggle Wi-Fi</button> <!-- Nouveau bouton -->

    <script>
        function connectToNetwork(ssid) {
            var password = prompt("Enter Wi-Fi Password for " + ssid);
            $.post('/connect', { ssid: ssid, password: password }, function(response) {
                alert(response.message);
                location.reload();
            });
        }

        // Charger et afficher la liste des réseaux Wi-Fi connus
        function loadKnownNetworks() {
            $.get('/get_known_networks', function(response) {
                $('#known_networks_list').empty();
                response.known_networks.forEach(function(network) {
                    $('#known_networks_list').append(`
                        <li>
                            ${network}
                            <button onclick="forgetNetwork('${network}')">Oublier</button>
                        </li>
                    `);
                });
            });
        }

        // Fonction pour oublier un réseau Wi-Fi connu
        function forgetNetwork(ssid) {
            $.ajax({
                url: '/forget_network',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ ssid: ssid }),
                success: function(response) {
                    alert(response.message);
                    loadKnownNetworks();
                }
            });
        }

        // Fonction pour se déconnecter du réseau Wi-Fi actuel
        function disconnectWifi() {
            $.post('/disconnect_wifi', function(response) {
                alert(response.message);
                location.reload();
            });
        }

        function activateAp() {
            $.post('/activate_ap', function(response) {
                alert(response.message);
                location.reload();
            });
        }

        function deactivateAp() {
            $.post('/deactivate_ap', function(response) {
                alert(response.message);
                location.reload();
            });
        }

        function toggleWiFi() {
            $.post('/toggle_wifi', function(response) {
                alert(response.message);
                location.reload();
            });
        }
        
        // Charger les réseaux connus lorsque la page est chargée
        $(document).ready(function() {
            loadKnownNetworks();
        });

    </script>
</body>
</html>
