{% extends 'base.html' %}

{% block content %}
<h1>Gestion Wi-Fi Raspberry Pi</h1>
<p><strong>IP Ethernet:</strong> <span id="ethernet-ip">...</span></p>
<p><strong>IP Wi-Fi:</strong> <span id="wifi-ip">...</span></p>
<p><strong>Réseau Wi-Fi:</strong> <span id="wifi-ssid">Non connecté</span></p>

<h2>Réseaux Wi-Fi</h2>
<button id="scan-networks" onclick="scanNetworks()">Scanner les réseaux</button>
<select id="network-select">
    <option value="">Sélectionner un réseau</option>
</select>
<input type="password" id="wifi-password" placeholder="Mot de passe">
<button id="connect-network" onclick="connectToNetwork()">Se connecter</button>
<button id="forget-network" onclick="forgetNetwork()">Oublier le réseau</button>

<h2>Hotspot</h2>
<button id="toggle-hotspot-btn" onclick="toggleHotspot()">Activer le hotspot</button>

<script>
    function updateIPs() {
        $.get("/current_ips", function(data) {
            $("#ethernet-ip").text(data.ethernet_ip || "Non connecté");
            $("#wifi-ip").text(data.wifi_ip || "Non connecté");
            $("#wifi-ssid").text(data.wifi_ssid || "Non connecté");
        });
    }

    function scanNetworks() {
        $.get("/scan_networks", function(data) {
            let options = '<option value="">Sélectionner un réseau</option>';
            data.forEach(function(network) {
                options += `<option value="${network.ssid}">${network.ssid} (${network.security})</option>`;
            });
            $("#network-select").html(options);
        });
    }

    function connectToNetwork() {
        const ssid = $("#network-select").val();
        const password = $("#wifi-password").val();
        console.log(ssid)
        console.log(password)
        if (ssid) {
            $.ajax({
                url: "/connect_wifi",
                type: "POST",
                data: JSON.stringify({ ssid: ssid, password: password }),
                contentType: "application/json",
                success: function(response) {
                        alert(response.message);
                        updateIPs();
                },
                error: function(error) {
                    alert("Erreur de connexion au réseau Wi-Fi.");
                }
            });
        } else {
            alert("Sélectionnez un réseau.");
        }
    }

    function forgetNetwork() {
        const ssid = $("#network-select").val();
        if (ssid) {
            $.ajax({
                url: "/forget_network",
                type: "POST",
                data: JSON.stringify({ ssid: ssid}),
                contentType: "application/json",
                success: function(response) {
                    alert(response.message);
                    scanNetworks();
                },
                error: function(error) {
                    alert("Impossible d'oublier le réseau.");
                }
            });
        }
    }

    function updateHotspotButtonText() {
        fetch('/hotspot_status')
            .then(response => response.json())
            .then(data => {
                const hotspotButton = document.getElementById('toggle-hotspot-btn');
                if (data.hotspot_active) {
                    hotspotButton.textContent = 'Désactiver le hotspot';
                } else {
                    hotspotButton.textContent = 'Activer le hotspot';
                }
            })
            .catch(error => console.error('Erreur:', error));
    }

    // Fonction pour activer/désactiver le hotspot
    function toggleHotspot() {
        const hotspotButton = document.getElementById('toggle-hotspot-btn');
        const enable = hotspotButton.textContent === 'Activer le hotspot';

        fetch('/toggle_hotspot', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ enable: enable }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Mettre à jour le texte du bouton
                updateHotspotButtonText();
                updateIPs();
            } else {
                alert('Erreur : ' + data.message);
            }
        })
        .catch(error => console.error('Erreur:', error));
    }

    $(document).ready(function() {
        updateIPs();
        scanNetworks();
        updateHotspotButtonText();
    });
</script>
{% endblock %}